@inherits SectionPropertiesBase

<SectionComponent IsEditMode="@IsEditMode" IsEditing="@IsEditing" Class="mb-12">

	<SectionHeader Title="@Template.Title" IsEditMode="@IsEditMode" IsEditing="@IsEditing" EditingClass="mb-4" FormId="@FormId" Breakpoint="Breakpoint.Sm" 
				   OnCancelClicked="@HandleEditCancelClicked">
		<TitleContent>
			<div class="mb-6">
				<div class="d-flex flex-row gap-2 align-center">
					<div><MudElement HtmlTag="div" Style="@Template.ActivityTypeColor.SwatchStyle(".75em")" /></div>
					<div class="pt-1 flex-grow-1 d-flex flex-row gap-2">
						<MudText Typo="Typo.body2" Color="Color.Tertiary">@Template.EventType.Title():</MudText>
						<MudText Typo="Typo.body2" Color="Color.Tertiary">@Template.ActivityTypeTitle</MudText>
					</div>
				</div>
				<MudText Typo="Typo.h4">@Template.Title</MudText>
			</div>
		</TitleContent>

		<EditModeToolbar>
			<MudIconButton Icon="@Icons.Material.Filled.Edit" Disabled="@(DisableSectionControls || IsUpdating)"
						   OnClick="@(() => HandleEditClicked())" />
			<MudIconButton Icon="@Icons.Material.Filled.Delete" Disabled="@(DisableSectionControls || IsUpdating)"
						   OnClick="@(() => HandleDeleteClicked())" />
		</EditModeToolbar>
	</SectionHeader>

	@if (!IsEditing)
	{
		<MudGrid Spacing="2">
			@if (Template.TargetDistance > 0)
			{
				<MudItem xs="4" md="3" lg="2">
					<MudPaper Class="h-100" Elevation="@StatElevation">
						<CaptionedProperty Align="Align.Center" Title="Target Distance">
							<MudText Typo="Typo.h5">
								<DistanceLabel Distance="@Template.TargetDistance" DistanceUnit="@Template.TargetDistanceUnit" />
							</MudText>
						</CaptionedProperty>
					</MudPaper>
				</MudItem>
			}
			@if (Template.TargetTimeSeconds > 0)
			{
				<MudItem xs="4" md="3" lg="2">
					<MudPaper Class="h-100" Elevation="@StatElevation">
						<CaptionedProperty Align="Align.Center" Title="Target Time">
							<MudText Typo="Typo.h5">
								<TimeLabel Seconds="@((int)Template.TargetTimeSeconds)" />
							</MudText>
						</CaptionedProperty>
					</MudPaper>
				</MudItem>
			}
			@if (Template.TargetPace > 0)
			{
				<MudItem xs="4" md="3" lg="2">
					<MudPaper Class="h-100" Elevation="@StatElevation">
						<CaptionedProperty Align="Align.Center" Title="Target Pace">
							<MudText Typo="Typo.h5">
								<TimeLabel Seconds="@((int)Template.TargetPace)" />
							</MudText>
						</CaptionedProperty>
					</MudPaper>
				</MudItem>
			}
			@if (Template.TargetPower > 0)
			{
				<MudItem xs="4" md="3" lg="2">
					<MudPaper Class="h-100" Elevation="@StatElevation">
						<CaptionedProperty Align="Align.Center" Title="Target Power">
							<MudText Typo="Typo.h5">
								<PowerLabel Power="@Template.TargetPower" />
							</MudText>
						</CaptionedProperty>
					</MudPaper>
				</MudItem>
			}
			@if (Template.TargetCadence > 0)
			{
				<MudItem xs="4" md="3" lg="2">
					<MudPaper Class="h-100" Elevation="@StatElevation">
						<CaptionedProperty Align="Align.Center" Title="Target Cadence">
							<MudText Typo="Typo.h5">
								<CadenceLabel Cadence="@Template.TargetCadence" CadenceUnit="@Template.TargetCadenceUnit" />
							</MudText>
						</CaptionedProperty>
					</MudPaper>
				</MudItem>
			}
			@if (Template.TargetHeartRateBpm > 0)
			{
				<MudItem xs="4" md="3" lg="2">
					<MudPaper Class="h-100" Elevation="@StatElevation">
						<CaptionedProperty Align="Align.Center" Title="Target Heart Rate">
							<MudText Typo="Typo.h5">
								<HeartRateLabel BPM="@Template.TargetHeartRateBpm" />
							</MudText>
						</CaptionedProperty>
					</MudPaper>
				</MudItem>
			}
			@if (Template.TargetCalories > 0)
			{
				<MudItem xs="4" md="3" lg="2">
					<MudPaper Class="h-100" Elevation="@StatElevation">
						<CaptionedProperty Align="Align.Center" Title="Target Calories">
							<MudText Typo="Typo.h5">
								<CaloriesLabel Calories="@Template.TargetCalories" />
							</MudText>
						</CaptionedProperty>
					</MudPaper>
				</MudItem>
			}
		</MudGrid>
	}
	else
	{
		<FormProperties ActivityTypes="@ActivityTypes" FormId="@FormId" Model="@Model" OnCanceled="@HandleEditCancelClicked" OnFormSubmitted="@HandleFormSubmitted" />
	}
</SectionComponent>