@inherits DrawerTagBase

<EditForm id="@FormId" Model="@Model" OnValidSubmit="HandleFormSubmitted">
	<FluentValidationValidator Validator="ModelValidator"></FluentValidationValidator>
	<MudGrid Spacing="3" Class="mb-4">
		<MudItem xs="12">
			<MudTextField Label="Title" Variant="Variant.Outlined" Immediate="true" Disabled="@IsSaving"
						  FullWidth="true" For="@(() => Model.Title)" @bind-Value="@Model.Title" />
		</MudItem>
	</MudGrid>
	<MudToolBar Gutters="false">
		<MudSpacer />
		<MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Submit" Disabled="@DisableControls">Save</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@DisableControls" OnClick="@(() => HandleCancelClicked())">Cancel</MudButton>
		<MudSpacer />
	</MudToolBar>
</EditForm>

@if (!IsAdding)
{
	<MudDivider DividerType="DividerType.FullWidth" Class="my-6" />

	<div class="d-flex flex-column gap-3">
		<MudButton StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" FullWidth="true" OnClick="@(() => HandleDeleteClicked())">Delete Tag</MudButton>
	</div>
}