@inherits FormPropertiesBase

<EditForm id="@FormId" Model="@Model" OnValidSubmit="HandleFormSubmitted">
	<FluentValidationValidator Validator="ModelValidator"></FluentValidationValidator>
	<MudGrid Spacing="2" Class="mb-3">
		<MudItem xs="12">
			<MudTextField Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" Immediate="true" Disabled="@DisableControls"
						  FullWidth="true" For="@(() => Model.Title)" @bind-Value="@Model.Title" />
		</MudItem>
		@if (Model.IsStarted)
		{
			<MudItem xs="6">
				<MudDatePicker Label="Start Date" Variant="Variant.Outlined" DateFormat="@Model.DateFormat(Model.DateStarted)" Disabled="@DisableControls"
							   @bind-Date="@Model.DateStartedInput" For="@(() => Model.DateStarted)" Color="Color.Secondary" />
			</MudItem>
			<MudItem xs="6">
				<MudTimePicker Label="Start Time" AmPm="true" Variant="Variant.Outlined" TimeFormat="h:mm tt" Disabled="@DisableControls" Color="Color.Secondary"
							   @bind-Time="@Model.TimeStartedInput" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopRight" />
			</MudItem>
		}
		@if (Model.IsComplete)
		{
			<MudItem xs="6">
				<MudDatePicker Label="Completion Date" Variant="Variant.Outlined" DateFormat="@Model.DateFormat(Model.DateCompleted)" Disabled="@DisableControls"
							   @bind-Date="@Model.DateCompletedInput" For="@(() => Model.DateCompleted)" Color="Color.Secondary" />
			</MudItem>
			<MudItem xs="6">
				<MudTimePicker Label="Completion Time" AmPm="true" Variant="Variant.Outlined" TimeFormat="h:mm tt" Disabled="@DisableControls" Color="Color.Secondary"
							   @bind-Time="@Model.TimeCompletedInput" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopRight" />
			</MudItem>
			<MudItem xs="12">
				<div class="d-flex flex-row gap-2 align-center my-2">
					<MudText Typo="Typo.body2">Rating</MudText>
					<div>
						<MudRating @bind-SelectedValue="@Model.Rating" />
					</div>
				</div>
			</MudItem>
		}
	</MudGrid>

	@if (FormToolbar != null)
	{
		<MudToolBar Gutters="false" Class="mt-4">
			@FormToolbar
		</MudToolBar>
	}
</EditForm>

