@page "/products/categories"
@inherits CategoriesBase

<DynamicPageTitle Title="Categories" />

<MudBreadcrumbs Items="Breadcrumbs"></MudBreadcrumbs>

<MudText Typo="Typo.h4" Class="mb-6">Categories</MudText>

@if (State.ActiveMember.HasHouseholdPermissionLevel(PermissionLevels.Write))
{
	<MudToolBar Gutters="false" Dense="true">
		<MudButton StartIcon="@Icons.Material.Filled.AddCircle" Disabled="@IsLoading" OnClick="@HandleAddClicked">Add</MudButton>
	</MudToolBar>
}

<ListView TItem="CategoryModel" Items="@Categories" IsLoading="@IsLoading">
	<ItemRenderer>
		<div class="d-flex flex-row gap-4 align-center">
			<div class="flex-grow-1">
				<MudText Typo="Typo.subtitle1">@context.Item.Title</MudText>
				<MudText Typo="Typo.body2">Products: @context.Item.ItemCount</MudText>
			</div>
			@if (State.ActiveMember.HasHouseholdPermissionLevel(PermissionLevels.Write))
			{
				<div>
					<MudIconButton Icon="@Icons.Material.Filled.ChevronRight" OnClick="@(() => HandleEditClicked(context.Item))" />
				</div>
			}
		</div>
	</ItemRenderer>
	<EmptyListRenderer>
		<MudAlert Elevation="0" ContentAlignment="HorizontalAlignment.Center" NoIcon="true" Class="mt-4">No categories have been created.</MudAlert>
	</EmptyListRenderer>
</ListView>

<SideDrawer Title="@DrawerTitle" Open="@DrawerOpen" OpenChanged="@(() => HandleCancelClicked())">
	@if (DrawerView == Views.Add)
	{
		<DrawerCategory Model="@FormModel" FormId="@FormId" DisableFormControls="@IsWorking" IsAdding="true" OnFormSubmitted="@HandleFormAddSubmit" OnCanceled="HandleCancelClicked" />
	}
	else if (DrawerView == Views.Edit)
	{
		<DrawerCategory Model="@FormModel" FormId="@FormId" DisableFormControls="@IsWorking" IsAdding="false" OnFormSubmitted="@HandleFormUpdateSubmit" OnDeleted="HandleDeleteClicked" OnCanceled="HandleCancelClicked" />
	}
</SideDrawer>

