@page "/"
@inherits IndexBase

<DynamicPageTitle Title="Dashboard" />

<div class="d-flex flex-row flex-wrap gap-3 justify-center align-center mb-6">
	<DashboardTile Href="/cookbooks" Icon="@Icons.Material.Filled.CollectionsBookmark" Title="Cookbooks" />
	<DashboardTile Href="/households" Icon="@Icons.Material.Filled.Groups" Title="Households" />
	<DashboardTile Href="/recipes" Icon="@Icons.Material.Filled.Dining" Title="Recipes" />
	<DashboardTile Href="/shopping-lists" Icon="@Icons.Material.Filled.ShoppingBag" Title="Shopping Lists" />
</div>

@if (string.IsNullOrEmpty(SelectedCategorySid))
{
	<div class="d-flex flex-row flex-wrap gap-3 justify-center align-center mb-6">
		@foreach (var category in PinnedCategories)
		{
			<DashboardTile OnClick="@(() => HandleCategoryClicked(category.Sid))" Title="@category.Title" Size="Size.Large" />
		}
	</div>
}
else 
{
	<div class="d-flex flex-row flex-wrap gap-3 justify-center align-center mb-6">
		<DashboardTile OnClick="@(() => HandleCategoryClearClicked())" Icon="@Icons.Material.Filled.ArrowBack" Title="Back" Size="Size.Large" />
		@foreach (var item in FilteredProducts)
		{
			<DashboardTile OnClick="@(() => HandleAddToListClicked(item.Sid))" Size="Size.Large">
				@if (!string.IsNullOrEmpty(item.Brand))
				{
					<MudText Typo="Typo.body2" Align="Align.Center" Color="Color.Tertiary">@item.Brand</MudText>
				}
				<MudText Typo="Typo.body1" Align="Align.Center" Color="Color.Primary">@item.Title</MudText>
				@if (!string.IsNullOrEmpty(item.Description))
				{
					<MudText Typo="Typo.caption" Color="Color.Tertiary" Align="Align.Center">@item.Description</MudText>
				}
			</DashboardTile>
		}
	</div>
}

<SideDrawer Title="@DrawerTitle" Open="@DrawerOpen" OpenChanged="@(() => HandleCancelClicked())">
	@if (DrawerView == Views.AddToList)
	{
		<DrawerAddToList ShoppingLists="@ShoppingLists" OnCanceled="@HandleCancelClicked" OnAdded="@HandleAddToListSubmitted" />
	}
</SideDrawer>