@page "/"
@inherits IndexBase

<DynamicPageTitle Title="Dashboard" />

<div class="d-flex align-center mb-6 flex-row flex-wrap justify-center gap-3">
	<DashboardTile Href="/cookbooks" Icon="@Icons.Material.Filled.CollectionsBookmark" Title="Cookbooks" />
	<DashboardTile Href="/households" Icon="@Icons.Material.Filled.Groups" Title="Households" />
	<DashboardTile Href="/recipes" Icon="@Icons.Material.Filled.Dining" Title="Recipes" />
	<DashboardTile Href="/shopping-lists" Icon="@Icons.Material.Filled.ShoppingBag" Title="Shopping Lists" />
</div>

<MudGrid Spacing="4" Justify="Justify.SpaceAround">
	@if (PinnedCategories.Count > 0)
	{
		<MudItem xs="12" md="6">
			<MudText Typo="Typo.body2" Color="Color.Tertiary">Pinned Products</MudText>
			@if (string.IsNullOrEmpty(SelectedCategorySid))
			{
				<ListView Items="@PinnedCategories">
					<ItemRenderer>
						<MudLink Typo="Typo.subtitle1" Underline="Underline.None" OnClick="@(() => HandleCategoryClicked(context.Item.Sid))">@context.Item.Title</MudLink>
					</ItemRenderer>
				</ListView>
			}
			else 
			{
				<MudToolBar Gutters="false" Class="mt-2">
					<MudButton OnClick="@(() => HandleCategoryClearClicked())" StartIcon="@Icons.Material.Filled.ArrowBack">Back</MudButton>
				</MudToolBar>
				<ListView Items="@FilteredProducts">
					<ItemRenderer>
						<MudLink Typo="Typo.subtitle1" OnClick="@(() => HandleAddToListClicked(context.Item.Sid))" Underline="Underline.None">
							@if (!string.IsNullOrEmpty(context.Item.Brand))
							{
								<MudText Typo="Typo.body2" Color="Color.Tertiary">@context.Item.Brand</MudText>
							}
							<MudText Typo="Typo.body1" Color="Color.Primary">@context.Item.Title</MudText>
							@if (!string.IsNullOrEmpty(context.Item.Description))
							{
								<MudText Typo="Typo.caption" Color="Color.Tertiary">@context.Item.Description</MudText>
							}
						</MudLink>
					</ItemRenderer>
				</ListView>
			}
		</MudItem>
	}
</MudGrid>

<SideDrawer Title="@DrawerTitle" Open="@DrawerOpen" OpenChanged="@(() => HandleCancelClicked())">
	@if (DrawerView == Views.AddToList)
	{
		<DrawerAddToList ShoppingLists="@ShoppingLists" OnCanceled="@HandleCancelClicked" OnAdded="@HandleAddToListSubmitted" />
	}
</SideDrawer>