@inherits DrawerAddBundleBase

<ListView TItem="ProductBundleListModel" Items="@Bundles" IsLoading="@IsLoading">
	<ItemRenderer>
		<div class="d-flex flex-row gap-2 align-start">
			<div>
				<MudIconButton Disabled="@IsWorking" Icon="@Icons.Material.Filled.AddCircle" Color="Color.Secondary" OnClick="@(() => HandleAddBundleClicked(context.Item.Sid))" />
			</div>
			<div class="flex-grow-1 align-self-center">
				<MudGrid Spacing="2">
					<MudItem xs="12" sm="10">
						<MudText Typo="Typo.body1">@context.Item.Title</MudText>
					</MudItem>
				</MudGrid>
			</div>
		</div>
	</ItemRenderer>
	<EmptyListRenderer>
		<MudText Align="Align.Center" Class="mt-4">No product bundles were found.</MudText>
	</EmptyListRenderer>
</ListView>


