@inherits SectionRecordsBase

<div Class="mb-12">
	<SectionHeader Title="Personal Records" Typo="Typo.h5" Class="mb-4" />
	@if (Records.Any())
	{
		<div class="d-flex flex-row flex-wrap gap-2">
			@if (Exercise.DefaultSetMetricType == SetMetricTypes.WeightReps && MaxWeight.WeightKg > 0)
			{
				<MudPaper Class="d-flex flex-column align-center gap-2">
					<div class="d-flex flex-row align-center gap-2">
						<MudIcon Icon="@Icons.Material.Filled.EmojiEvents" />
						<MudText>Weight</MudText>
					</div>
					<div class="flex-grow-1 py-4">
						<MudText Typo="Typo.h3">
							<WeightLabel WeightKg="@MaxWeight.WeightKg" WeightLb="@MaxWeight.WeightLb" UnitSystem="@State.ActiveMember.Settings.DefaultUnits" />
						</MudText>
					</div>
					<div>
						<MudLink Href="@($"/workouts/{MaxWeight.WorkoutSid}")" Color="Color.Secondary" Typo="Typo.body2">@MaxWeight.DateWorkoutUtc.ToLocalTime().ToString("MMMM dd, yyyy")</MudLink>
					</div>
				</MudPaper>
			}
			@if (Exercise.DefaultSetMetricType == SetMetricTypes.WeightReps && MaxVolume.VolumeKg > 0)
			{
				<MudPaper Class="d-flex flex-column align-center gap-2">
					<div class="d-flex flex-row align-center gap-2">
						<MudIcon Icon="@Icons.Material.Filled.EmojiEvents" />
						<MudText Class="me-2">Volume</MudText>
					</div>
					<div class="flex-grow-1 py-4">
						<MudText Typo="Typo.h3">
							<WeightLabel WeightKg="@MaxVolume.VolumeKg" WeightLb="@MaxVolume.VolumeLb" UnitSystem="@State.ActiveMember.Settings.DefaultUnits" />
						</MudText>
					</div>
					<div>
						<MudLink Href="@($"/workouts/{MaxVolume.WorkoutSid}")" Color="Color.Secondary" Typo="Typo.body2">@MaxVolume.DateWorkoutUtc.ToLocalTime().ToString("MMMM dd, yyyy")</MudLink>
					</div>
				</MudPaper>
			}
			@if (Exercise.DefaultSetMetricType == SetMetricTypes.TimeOnly && MaxSeconds.MaxSeconds > 0)
			{
				<MudPaper Class="d-flex flex-column align-center gap-2">
					<div class="d-flex flex-row align-center gap-2">
						<MudIcon Icon="@Icons.Material.Filled.EmojiEvents" />
						<MudText Class="me-2">Time</MudText>
					</div>
					<div class="flex-grow-1 py-4">
						<MudText Typo="Typo.h3">
							<TimeLabel Seconds="@MaxSeconds.MaxSeconds" />
						</MudText>
					</div>
					<div>
						<MudLink Href="@($"/workouts/{MaxSeconds.WorkoutSid}")" Color="Color.Secondary" Typo="Typo.body2">@MaxSeconds.DateWorkoutUtc.ToLocalTime().ToString("MMMM dd, yyyy")</MudLink>
					</div>
				</MudPaper>
			}
			@if (Exercise.DefaultSetMetricType == SetMetricTypes.WeightTime && MaxWeightSeconds.MaxSeconds > 0 && MaxWeightSeconds.WeightKg > 0)
			{
				<MudPaper Class="d-flex flex-row align-center gap-2">
					<div class="d-flex flex-row align-center gap-2">
						<MudIcon Icon="@Icons.Material.Filled.EmojiEvents" />
						<MudText Class="me-2">Time at Weight</MudText>
					</div>
					<div class="flex-grow-1 py-4">
						<MudText Typo="Typo.h3">
							<TimeLabel Seconds="@MaxWeightSeconds.MaxSeconds" /> @@ <WeightLabel WeightKg="@MaxWeightSeconds.WeightKg" WeightLb="@MaxWeightSeconds.WeightLb" UnitSystem="@State.ActiveMember.Settings.DefaultUnits" />
						</MudText>
					</div>
					<div>
						<MudLink Href="@($"/workouts/{MaxWeightSeconds.WorkoutSid}")" Color="Color.Secondary" Typo="Typo.body2">@MaxWeightSeconds.DateWorkoutUtc.ToLocalTime().ToString("MMMM dd, yyyy")</MudLink>
					</div>
				</MudPaper>
			}
		</div>
	}
	else
	{
		<MudAlert NoIcon="true" Severity="Severity.Normal">No personal records were found.</MudAlert>
	}
</div>

