@inherits DrawerAddRecipeBase

@if (SelectedRecipe == null)
{
	<MudText Typo="Typo.h6" Class="mb-2">Choose Recipe</MudText>
	<div class="mb-6">
		<SearchForm @bind-Model="@SearchModel" SearchClicked="@(() => DoSearch(1))" ResetClicked="@HandleResetClicked">
			<SearchFields>
				<MudTextField Label="Title" Variant="Variant.Outlined" FullWidth="true" Margin="Margin.Dense"
								T="string" @bind-Value="@SearchModel.Title" Disabled="@IsLoading" />
			</SearchFields>
		</SearchForm>
	</div>

	<ListView Class="mb-6" Items="@SearchResults.Data" PageSize="@SearchResults.PageSize" Page="@SearchModel.Page" TotalItems="@SearchResults.Total" IsLoading="@IsLoading"
				PageSelected="@HandlePageSelected">
		<ItemRenderer>
			<div class="d-flex flex-row gap-2 align-center">
				<div>
					<MudIconButton Icon="@Icons.Material.Filled.AddCircle" Color="Color.Secondary" Size="Size.Small" Disabled="@IsWorking" OnClick="@(() => HandleAddClicked(context.Item))" />
				</div>
				<div class="flex-grow-1 align-self-center">
					<MudText Typo="Typo.body1" Class="d-block">@context.Item.Title</MudText>
				</div>
				<div>
					<ScaleMenuComponent @bind-Scale="@context.Item.Scale" />
				</div>
			</div>
		</ItemRenderer>
		<EmptyListRenderer>
			<MudText Align="Align.Center" Class="mt-4">No recipes matched your search.</MudText>
		</EmptyListRenderer>
	</ListView>
}
else 
{
	<div class="d-flex flex-row gap-3 align-center mb-6">
		<MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" Disabled="@IsWorking" OnClick="@(() => SelectedRecipe = null)" />
		<div>
			<MudText Typo="Typo.h6">@SelectedRecipe.Title</MudText>
			<MudText Typo="Typo.body2">Scale: @SelectedRecipe.Scale.ToFractionString()x</MudText>
		</div>
	</div>

	<MudText Typo="Typo.h6">Choose Meal</MudText>
	<ListView Class="mb-6" Items="@Meals.Where(x => x.Sid != string.Empty).ToList()">
		<ItemRenderer>
			<div class="d-flex flex-row gap-2 align-center">
				<div>
					<MudIconButton Icon="@Icons.Material.Filled.AddCircle" Color="Color.Secondary" Size="Size.Small" Disabled="@IsWorking" OnClick="@(() => HandleAddToMealClicked(context.Item))" />
				</div>
				<div class="flex-grow-1 align-self-center">
					<MudText Typo="Typo.body1" Class="d-block">@context.Item.Title</MudText>
				</div>
			</div>
		</ItemRenderer>
		<EmptyListRenderer>
			<MudText Align="Align.Center" Class="mt-4">No meals matched your search.</MudText>
		</EmptyListRenderer>
	</ListView>
}