@inherits ExercisePickerBase

<SearchForm @bind-Model="@SearchModel" Class="mb-6" ForceColumnLayout="true" SearchClicked="@(() => DoSearch(1))" ResetClicked="@HandleResetClicked">
	<SearchFields>
		<MudGrid Spacing="2">
			<MudItem xs="12">
				<MuscleTypeSelect AllOption="true" Margin="Margin.Dense" Disabled="@DisableControls" Value="@SearchModel.MuscleType" ValueChanged="@HandleMuscleTypeChanged" />
			</MudItem>
			<MudItem xs="12">
				<EquipmentTypeSelect AllOption="true" Margin="Margin.Dense" Disabled="@DisableControls" Value="@SearchModel.EquipmentType" ValueChanged="@HandleEquipmentTypeChanged" />
			</MudItem>
			<MudItem xs="12">
				<MudTextField Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" FullWidth="true"
							  Disabled="@DisableControls" @bind-Value="@SearchModel.Title" />
			</MudItem>
		</MudGrid>
	</SearchFields>
</SearchForm>
<ListView Class="mb-6" Items="@SearchResults.Data" PageSize="@SearchResults.PageSize" Page="@SearchModel.Page" TotalItems="@SearchResults.Total" IsLoading="@IsLoading"
		  PageSelected="@HandlePageSelected">
	<ItemRenderer>
		<div class="d-flex flex-row gap-3 align-start">
			<div class="pt-1">
				<MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" title="Add Exercise"
							   OnClick="@(() => HandleSelectExerciseClicked(context.Item))" />
			</div>
			<div class="flex-grow-1">
				<MudText Typo="Typo.subtitle1">@context.Item.Title</MudText>
				<MudText Typo="Typo.body2" Class="mb-2">@context.Item.Equipment.Titles() </MudText>
				<MudText Typo="Typo.caption" Color="Color.Tertiary" Class="d-block mb-0">@("Muscle".Pluralize("Muscles", context.Item.Muscles.Count)): @context.Item.Muscles.Titles()</MudText>
				<MudText Typo="Typo.caption" Color="Color.Tertiary" Class="d-block mb-0">Metric: @context.Item.DefaultSetMetricType.Title()</MudText>
			</div>
		</div>
	</ItemRenderer>
	<EmptyListRenderer>
		@if (HasRunSearch)
		{
			<MudText Align="Align.Center" Class="mt-4">No exercises matched your search.</MudText>
		}
	</EmptyListRenderer>
</ListView>