@inherits DashboardStatsBase

<MudGrid Spacing="4">
	<MudItem xs="6" sm="4" md="2">
		<DashboardTile Typo="Typo.body2" Href="/cookbooks" Icon="@Icons.Material.Filled.CollectionsBookmark" Title="Cookbooks" Class="w-100" />
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<DashboardTile Typo="Typo.body2" Href="/households" Icon="@Icons.Material.Filled.Groups" Title="Households" Class="w-100" />
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<DashboardTile Typo="Typo.body2" Href="/meal-plan" Icon="@Icons.Material.Filled.CalendarMonth" Title="Meal Plan" Class="w-100" />
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<DashboardTile Typo="Typo.body2" Href="/recipes" Icon="@Icons.Material.Filled.Dining" Title="Recipes" Class="w-100" />
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<DashboardTile Typo="Typo.body2" Href="/shopping-lists" Icon="@Icons.Material.Filled.ShoppingBag" Title="Shopping Lists" Class="w-100" />
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<DashboardTile Typo="Typo.body2" Href="/products" Icon="@Icons.Material.Filled.ShoppingBasket" Title="Products" Class="w-100" />
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<DashboardTile Typo="Typo.body2" Href="/exercises" Icon="@Icons.Material.Filled.FitnessCenter" Title="Exercises" Class="w-100 h-100" />
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<MudPaper Class="h-100">
			<MudText Typo="Typo.body2" Color="Color.Tertiary" Align="Align.Center">Workouts Tracked</MudText>
			<MudText Typo="Typo.h4" Align="Align.Center" Class="my-4">@Model.TotalWorkouts</MudText>
			@if (Model.Years.Any())
			{
				<MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Tertiary" Class="d-block">since @FirstYear</MudText>
			}
		</MudPaper>
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<MudPaper Class="h-100">
			<MudText Typo="Typo.body2" Color="Color.Tertiary" Align="Align.Center">Total Volume</MudText>
			<MudText Typo="Typo.h4" Align="Align.Center" Class="my-4">
				<WeightLabel WeightKg="@Model.TotalVolumeKg" WeightLb="@Model.TotalVolumeLb" UnitSystem="@State.ActiveMember.Settings.DefaultUnits" />
			</MudText>
			@if (Model.Years.Any())
			{
				<MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Tertiary" Class="d-block">since @FirstYear</MudText>
			}
		</MudPaper>
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<MudPaper Class="h-100">
			<MudText Typo="Typo.body2" Color="Color.Tertiary" Align="Align.Center">Activities Tracked</MudText>
			<MudText Typo="Typo.h4" Align="Align.Center" Class="my-4">@Model.TotalActivities</MudText>
			@if (Model.Years.Any())
			{
				<MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Tertiary" Class="d-block">since @FirstYear</MudText>
			}
		</MudPaper>
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<MudPaper Class="h-100">
			<MudText Typo="Typo.body2" Color="Color.Tertiary" Align="Align.Center">Total Distance</MudText>
			<MudText Typo="Typo.h4" Align="Align.Center" Class="my-4">
				<DistanceLabel Distance="@(DistanceUnit.ConvertFromMeters(Model.TotalDistanceMeters))" DistanceUnit="@DistanceUnit" />
			</MudText>
			@if (Model.Years.Any())
			{
				<MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Tertiary" Class="d-block">since @FirstYear</MudText>
			}
		</MudPaper>
	</MudItem>
	<MudItem xs="6" sm="4" md="2">
		<MudPaper Class="h-100">
			<MudText Typo="Typo.body2" Color="Color.Tertiary" Align="Align.Center">Active Time</MudText>
			<MudText Typo="Typo.h4" Align="Align.Center" Class="my-4">
				<span class="result"><span class="time">@Model.TotalSeconds.SecondsToHours().ShortLabel()</span><span class="post-result-label">hr</span></span>
			</MudText>
			@if (Model.Years.Any())
			{
				<MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Tertiary" Class="d-block">since @FirstYear</MudText>
			}
		</MudPaper>
	</MudItem>
</MudGrid>


