@page "/cookbook-recipes"
@inherits IndexBase

<DynamicPageTitle  IsLoading="@IsLoading" LoadingTitle="Loading Recipes..." Title="Cookbook Recipes" />

<MudBreadcrumbs Items="@Breadcrumbs" />

<SectionHeader Title="Recipes" Class="mb-4" />
<div class="mb-6">
	<SearchForm @bind-Model="@SearchModel" SearchClicked="@(() => DoSearch(1))" ResetClicked="@HandleResetClicked">
		<SearchFields>
			<MudGrid Spacing="1">
				<MudItem xs="12" sm="6">
					<MudTextField Label="Title" Variant="Variant.Outlined" FullWidth="true" Margin="Margin.Dense"
								  T="string" @bind-Value="@SearchModel.Title" Disabled="@IsLoading" />
				</MudItem>
				<MudItem xs="12" sm="6">
					<RecipeTagSelect Label="Tags" FullWidth="true" Margin="Margin.Dense" Tags="@RecipeTags" @bind-SelectedValues="@SearchModel.Keys" Disabled="@IsLoading" />
				</MudItem>
			</MudGrid>
		</SearchFields>
	</SearchForm>
</div>

<ListView Class="mb-6" Items="@SearchResults.Data" PageSize="@SearchResults.PageSize" Page="@SearchModel.Page" TotalItems="@SearchResults.Total" IsLoading="@IsLoading"
		  PageSelected="@HandlePageSelected">
	<ItemRenderer>
		<MudGrid Spacing="2">
			<MudItem xs="12" sm="8" md="10">
				<MudLink Typo="Typo.subtitle1" Href="@($"/cookbook-recipes/{context.Item.Sid}")" Class="d-block">@context.Item.Title</MudLink>
				@if (context.Item.Tags.Count > 0)
				{
					<MudText Typo="Typo.body2" Color="Color.Tertiary">@context.Item.TagTitles</MudText>
				}
			</MudItem>
			<MudItem xs="6" sm="2" md="1">
				<CaptionedProperty Align="Align.Center" Title="Prep Time" Value="@context.Item.PrepTime.ToString(@"hh\:mm")" />
			</MudItem>
			<MudItem xs="6" sm="2" md="1">
				<CaptionedProperty Align="Align.Center" Title="Cook Time" Value="@context.Item.CookTime.ToString(@"hh\:mm")" />
			</MudItem>
		</MudGrid>
	</ItemRenderer>
	<EmptyListRenderer>
		<MudAlert Elevation="0" ContentAlignment="HorizontalAlignment.Center" NoIcon="true" Class="mt-4">No recipes matched your search.</MudAlert>
	</EmptyListRenderer>
</ListView>