@page "/member"
@inherits IndexBase

<PageTitle>Settings</PageTitle>

<MudBreadcrumbs Items="@Breadcrumbs" />

<div class="d-flex flex-row flex-wrap gap-3 align-center justify-center">
	<DashboardTile Icon="@Icons.Material.Filled.AppSettingsAlt" Href="/member/app-settings" Title="App Settings" />
	@if (!AccountStatus.HasExternalLogin)
	{
		<DashboardTile Icon="@Icons.Material.Filled.Email" Href="/member/change-email" Title="Change Email" />
	}
	@if (AccountStatus.HasPassword)
	{
		<DashboardTile Icon="@Icons.Material.Filled.Password" Href="/member/change-password" Title="Change Password" />
	}
	else
	{
		<DashboardTile Icon="@Icons.Material.Filled.Password" Href="/member/set-password" Title="Set Password" />
	}
	@if (AccountStatus.HasExternalLogin && AccountStatus.HasPassword) 
	{
		<DashboardTile Icon="@Icons.Material.Filled.Password" Href="/member/remove-password" Title="Remove Password" />
	}
	@if (AccountStatus.HasExternalLoginsAvailable)
	{
		<DashboardTile Icon="@Icons.Material.Filled.Login" Href="/member/external-logins" Title="External Logins" />
	}
	<DashboardTile Icon="@Icons.Material.Filled.DevicesOther" Href="/member/2fa" Title="Two-factor Authentication" />
</div>