@page "/recipes"
@inherits IndexBase

<DynamicPageTitle  IsLoading="@IsLoading" LoadingTitle="Loading Recipes..." Title="My Recipes" />

<MudBreadcrumbs Items="@Breadcrumbs" />

<SectionHeader Title="Recipes" Class="mb-4" />
<div class="mb-6">
	<SearchForm @bind-Model="@SearchModel" SearchClicked="@(() => DoSearch(1))" ResetClicked="@HandleResetClicked">
		<SearchFields>
			<MudGrid Spacing="2">
				<MudItem xs="12" sm="6">
					<MudTextField Label="Title" Variant="Variant.Outlined" FullWidth="true" Margin="Margin.Dense"
					T="string" @bind-Value="@SearchModel.Title" Disabled="@IsLoading" />
				</MudItem>
				<MudItem xs="12" sm="6">
					<RecipeTagSelect Label="Tags" FullWidth="true" Margin="Margin.Dense" Tags="@RecipeTags" @bind-SelectedValues="@SearchModel.TagSids" Disabled="@IsLoading" />
				</MudItem>
			</MudGrid>
		</SearchFields>
	</SearchForm>
</div>

@if (ActiveMember.HasHouseholdPermissionLevel(PermissionLevels.Write))
{
	<MudToolBar Class="mt-6" Gutters="false" Dense="true">
		<MudButton StartIcon="@Icons.Material.Filled.AddCircle" Disabled="@IsLoading" OnClick="@(() => HandleAddClicked())">New</MudButton>
	</MudToolBar>
}

<GridView Class="mb-6" Items="@SearchResults.Data" PageSize="@SearchResults.PageSize" Page="@SearchModel.Page" TotalItems="@SearchResults.Total" IsLoading="@IsLoading"
		  PageSelected="@HandlePageSelected" GridSpacing="2" xs="12" sm="6" md="4" lg="3">
	<ItemRenderer>
		<MudCard Class="h-100">
			<MudCardMedia Image="@context.Item.FeaturedImage.ImageUrl(StorageSettings.BaseUrl)" Height="150" />
			<MudCardContent>
				<MudLink Typo="Typo.subtitle1" Href="@($"/recipes/{context.Item.Sid}")" Class="d-block mb-4">@context.Item.Title</MudLink>
				@if (context.Item.Tags.Count > 0)
				{
					<MudText Typo="Typo.body2" Color="Color.Tertiary">@context.Item.TagTitles</MudText>
				}
			</MudCardContent>
			<MudCardActions>
				<div class="w-100">
					<MudDivider DividerType="DividerType.FullWidth" />
					<div class="flex-summary">
						<div class="summary-item">
							<CaptionedProperty Align="Align.Center" Title="Prep Time" Value="@context.Item.PrepTime.ToString(@"hh\:mm")" />
						</div>
						<MudDivider FlexItem="true" Vertical="true" />
						<div class="summary-item">
							<CaptionedProperty Align="Align.Center" Title="Cook Time" Value="@context.Item.CookTime.ToString(@"hh\:mm")" />
						</div>
					</div>
				</div>
			</MudCardActions>
		</MudCard>
	</ItemRenderer>
	<EmptyListRenderer>
		<MudText Align="Align.Center" Class="mt-4">No recipes matched your search.</MudText>
	</EmptyListRenderer>
</GridView>

<SideDrawer Title="@DrawerTitle" Open="@DrawerOpen" OpenChanged="@(() => HandleCancelClicked())">
	@if (DrawerView == Views.Add)
	{
		<FormProperties FormId="@FormId" Model="@FormModel" RecipeTags="@RecipeTags" DisableFormControls="@IsWorking" OnFormSubmitted="@HandleFormAddSubmitted">
			<FormToolbar>
				<MudSpacer />
				<ProgressButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Secondary" IsWorking="@IsWorking" WorkingText="Adding">Create</ProgressButton>
				<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="@HandleCancelClicked">Cancel</MudButton>
				<MudSpacer />
			</FormToolbar>
		</FormProperties>
	}
</SideDrawer>