@using Unshackled.Food.Core.Models

@inherits RecipeListBuilderBase

<MudText Typo="Typo.h6">Set Ingredient Quantities</MudText>
<ListView TItem="AddToShoppingListModel" Items="@Items" IsLoading="@IsLoading">
	<ItemRenderer>
		<MudGrid Spacing="2">
			<MudItem xs="12">
				<MudText Typo="Typo.body2" Color="Color.Tertiary">Replacing:</MudText>
				<MudText>
					@context.Item.IngredientTitle
				</MudText>
			</MudItem>
			<MudItem xs="12">
				<MudText Typo="Typo.body2" Color="Color.Tertiary">With Product:</MudText>
				<MudText>
					@context.Item.ProductTitle
				</MudText>
			</MudItem>
			<MudItem xs="12">
				<MudGrid Spacing="1">
					<MudItem xs="6" md="3">
						<CaptionedProperty Title="Amount Required">
							<IngredientText Amount="@context.Item.RequiredAmount" AmountLabel="@context.Item.RequiredAmountLabel" />
						</CaptionedProperty>
					</MudItem>
					<MudItem xs="6" md="3">
						<CaptionedProperty Title="Quantity To Add">
							<div class="d-flex flex-row gap-4 align-center">
								<MudIconButton Icon="@Icons.Material.Filled.RemoveCircleOutline" Color="Color.Secondary" Size="Size.Small" OnClick="@(() => HandleCounterSubtractClicked(context.Item))" />
								<MudText>@context.Item.Quantity</MudText>
								<MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline" Color="Color.Secondary" Size="Size.Small" OnClick="@(() => HandleCounterAddClicked(context.Item))" />
							</div>
						</CaptionedProperty>
					</MudItem>
					<MudItem xs="6" md="3">
						<CaptionedProperty Title="Quantity In List">
							<MudText>@context.Item.QuantityInList</MudText>
						</CaptionedProperty>
					</MudItem>
					<MudItem xs="6" md="3">
						<CaptionedProperty Title="Total After Add">
							<MudText>@context.Item.TotalQuantity</MudText>
						</CaptionedProperty>
					</MudItem>
					@if (context.Item.RecipeAmounts.Any())
					{
						<MudItem xs="12">
							<div class="d-flex flex-column gap-1 mb-2">
								<MudText Typo="Typo.body2">Other Recipe Requirements: </MudText>
								@foreach (var amt in context.Item.RecipeAmounts)
								{
									<MudText Typo="Typo.body2">
										<IngredientText Amount="@amt.Amount" AmountLabel="@amt.UnitLabel" Title="@amt.RecipeTitle" />
									</MudText>
								}
							</div>
						</MudItem>
					}
				</MudGrid>
			</MudItem>
		</MudGrid>
	</ItemRenderer>
	<EmptyListRenderer>
		<MudText Align="Align.Center" Class="mt-4">Nothing to add.</MudText>
	</EmptyListRenderer>
</ListView>