@inherits DrawerAddToCookbookBase


<MudText Typo="Typo.h6">Choose A Cookbook</MudText>
<ListView TItem="CookbookListModel" Items="@Cookbooks" IsLoading="@IsLoading">
	<ItemRenderer>
		<div class="d-flex flex-row gap-2 align-center">
			<div>
				<MudIconButton Icon="@Icons.Material.Filled.AddCircle" Color="Color.Secondary" Disabled="@IsWorking" OnClick="@(() => HandleAddClicked(context.Item.Sid))" />
			</div>
			<div class="flex-grow-1 align-self-center">
				<MudText Typo="Typo.subtitle1" Class="d-block">@context.Item.Title</MudText>
			</div>
		</div>
	</ItemRenderer>
	<EmptyListRenderer>
		<MudText Align="Align.Center" Class="mt-4">No cookbooks were found.</MudText>
	</EmptyListRenderer>
</ListView>

<MudToolBar Gutters="false" Class="mt-4">
	<MudSpacer />
	<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="@HandleCancelClicked">Cancel</MudButton>
	<MudSpacer />
</MudToolBar>