@inherits DrawerStepBase

<EditForm Model="@Model" OnValidSubmit="HandleFormSubmitted">
	<FluentValidationValidator Validator="ModelValidator"></FluentValidationValidator>
	<MudGrid Spacing="3" Class="mb-3">
		<MudItem xs="12">
			<MudTextField Label="Instructions" Variant="Variant.Outlined" FullWidth="true" Disabled="@DisableControls" Lines="5"
					@bind-Value="@Model.Instructions" For="@(() => Model.Instructions)" />
		</MudItem>
		@if (Ingredients.Any())
		{
			<MudItem xs="12">
				<MudText Typo="Typo.subtitle2">Ingredients used in this step</MudText>
				<div class="d-flex flex-row gap-2 flex-wrap">
					@foreach (var item in Ingredients)
					{
						<MudCheckBox Label="@item.Title" Value="@IsChecked(item)" Disabled="@DisableControls" Color="Color.Secondary" UncheckedColor="Color.Default"
									 ValueChanged="@((bool value) => HandleIngredientCheckChange(value, item))" />
					}
				</div>
			</MudItem>
		}
	</MudGrid>
	<MudToolBar Gutters="false">
		<MudSpacer />
		<MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Submit" Disabled="@DisableControls">Apply</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@DisableControls" OnClick="@(() => HandleCancelClicked())">Cancel</MudButton>
		<MudSpacer />
	</MudToolBar>
</EditForm>

@if (!IsAdding)
{
	<MudDivider DividerType="DividerType.FullWidth" Class="my-6" />

	<div class="d-flex flex-column gap-3">
		<MudButton StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" FullWidth="true" OnClick="@(() => HandleDeleteClicked())">Delete Step</MudButton>
	</div>
}