@inherits FormAddIngredientBase

<div class="pa-4">
	<EditForm Model="@Model" OnValidSubmit="HandleFormSubmitted">
		<FluentValidationValidator Validator="ModelValidator"></FluentValidationValidator>
		<MudGrid Spacing="1" Class="mb-3">
			<MudItem xs="4" sm="3">
				<MudTextField Label="Amount" Variant="Variant.Outlined" FullWidth="true" AutoFocus="true" Disabled="@DisableControls" Margin="Margin.Dense"
					 @bind-Value="@Model.Amount" For="@(() => Model.Amount)" />
			</MudItem>
			<MudItem xs="8" sm="5">
				<MudAutocomplete T="string" Label="Ingredient Name" Variant="Variant.Outlined" Immediate="true" FullWidth="true" Disabled="@DisableControls"
								 ResetValueOnEmptyText="true" CoerceText="false" CoerceValue="true" Margin="Margin.Dense" SelectOnActivation="false" SelectValueOnTab="true"
								 SearchFunc="@SearchIngredients" @bind-Value="@Model.Title" For="@(() => Model.Title)" />
			</MudItem>
			<MudItem xs="12" sm="4">
				<MudTextField Label="Prep Note" Variant="Variant.Outlined" FullWidth="true" Disabled="@DisableControls" Margin="Margin.Dense"
					@bind-Value="@Model.PrepNote" For="@(() => Model.PrepNote)" />
			</MudItem>
		</MudGrid>
		<MudToolBar Gutters="false">
			<MudSpacer />
			<MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" Class="me-2" Disabled="@DisableControls">Add</MudButton>
			<MudButton Disabled="@DisableControls" OnClick="@(() => HandleCancelClicked())">Cancel</MudButton>
			<MudSpacer />
		</MudToolBar>
	</EditForm>
</div>