@inherits SectionMembersBase

<div Class="mb-6">
	<SectionHeader Title="Members" Typo="Typo.h5" Class="mb-4" />
	
	<ListMembers Cookbook="@Cookbook" CookbookChanged="@CookbookChanged" IsEditMode="@IsEditMode" DisableSectionControls="@DisableSectionControls" OnIsEditingChange="@UpdateIsEditingSection" />
	<ListInvites Cookbook="@Cookbook" IsEditMode="@IsEditMode" DisableSectionControls="@DisableSectionControls" OnIsEditingSectionChange="@UpdateIsEditingSection" />
</div>