@page "/cookbooks/{CookbookSid}"
@inherits SingleBase

<DynamicPageTitle IsLoading="@IsLoading" LoadingTitle="Loading Cookbook" FallbackTitle="Cookbook" Title="@Cookbook.Title" />

<MudBreadcrumbs Items="Breadcrumbs"></MudBreadcrumbs>

@if (IsLoading)
{
	<DefaultProgress />
}
else
{
	@if (string.IsNullOrEmpty(Cookbook.Sid))
	{
		<MudAlert Severity="Severity.Error" Dense="true">The cookbook was not found.</MudAlert>
	}
	else
	{
		<MudToolBar Gutters="false" Dense="true">
			<MudSpacer />
			@if (CanEdit)
			{
				<EditModeSwitch @bind-IsEditMode="@IsEditMode" Disabled="@IsEditing" />
			}
		</MudToolBar>

		<SectionProperties @bind-Cookbook="@Cookbook" IsEditMode="@IsEditMode" DisableSectionControls="@DisableControls"
				   OnIsEditingSectionChange="@HandleSectionEditing" />

		<div Class="mb-6">
			<SectionHeader Title="Members" Typo="Typo.h5" Class="mb-4" />

			<SectionMembers @bind-Cookbook="@Cookbook" IsEditMode="@IsEditMode" DisableSectionControls="@DisableControls" OnIsEditingChange="@HandleSectionEditing" />
			<SectionInvites Cookbook="@Cookbook" IsEditMode="@IsEditMode" DisableSectionControls="@DisableControls" OnIsEditingSectionChange="@HandleSectionEditing" />
		</div>
	}
}